<div class="jumbotron">
    <div class="text-center" id="cardReportheader">
        <h4 class="h4-title">MOST RECENT NANOTECHNOLOGY NEWS</h4>
    </div>
    <br>
    <div class="route-button">
        <a href="/"><button type="button" class="btn btn-primary" style="margin-right: 20px">Home</button></a>
        <a href="/saved"><button type="button" class="btn btn-primary">Saved Articles</button></a>
    </div>

</div>

<div class="container">


    <br>
    <div class="row">
        <div class="card col-md-12">
            <div class="card-body player">
                <div id="articles">
                    {{#each article}}
                    <li class="list-group-item">
                        <h5 id="title-{{@index}}">{{this.title}}</h5>
                        <a href="{{this.link}}" id="link-{{@index}}">{{this.link}}</a>
                        <p id="excerpt-{{@index}}">{{this.excerpt}}</p>
                        <button data-id={{@index}} class="save-article">Save</button>
                    </li>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>